body {
  background-color: rgba(149, 237, 240, 0.8);
  box-sizing: border-box;
}

img {
  width: 350px;
  height: auto;
  border-radius: 30%;
}

/* RECIPE PAGES */
.recipe-sub-title {
font-family: 'Arial', 'Helvetica', sans-serif;  
text-decoration: underline;
font-size: 25px;
}

.ingredients{
  list-style-type: square;
}


/* INDEX SECTION */
.odin-title {
  border: 10px dotted black;
  width: 350px;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 0 auto;
}

.recipe-container {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}

